---
layout: base
---
-# layout for pages using the full width of the page
-# handles title display

.ui.container-fluid
  .jumbotron.small
    .ui.container
      %h1= page.title

.ui.container.page-content
  .content#content
    ~ content
