## Bundler
_bin
.bundle

## Awestruct
_tmp
_site
.awestruct
.sass-cache

## OS related
*.DS_Store

## IDE
.settings
.project
.buildpath
*.sublime-project
*.sublime-workspace

## Ruby tools
.rvmrc
.ruby-gemset
.ruby-version
