---
layout: base
title: 404
inhibit_indexifier: true
---

:javascript
  jQuery.ajax({
    url: "https://hibernate.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e/en_US-ny35gm-1988229788/6206/19/1.4.1/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs.js?collectorId=7d71341e",
    type: "get",
    cache: true,
    dataType: "script"
  });
  window.ATL_JQ_PAGE_PROPS = {
    "triggerFunction": function(showCollectorDialog) {
      jQuery("#feedback-button").click(function(e) {
        e.preventDefault();
        showCollectorDialog();
      });
    },
    fieldValues: {
        components : '10380',
        summary: 'Broken link: ' + window.location.href,
        description: 'Broken link: ' + window.location.href + '\n\n' +
        		'Please provide your page of origin:\n' + document.referrer + '\n\n' +
        		'Please describe what you expected this link to point to:\n\n'
    }
  };

.jumbotron.small
  .ui.container
    %h1
      %span Hibernate. Everything data.
    %h2
      %span 404

.ui.container.page-content
  .content#content
    .ui.two.column.centered.grid
      .column
        %h2 Oh snap!

        .dead-link
          .ui.floating.info.icon.message
            %i.icon.hand.paper
            .content
              .header
                (Hand waving): This is not the page you are looking for!
              %p
                Looks like you have found a broken link!

          %p
            Please report it mentioning which page you came from and which link you clicked on:
          %p.text-center
            %button.ui.right.label.button.primary#feedback-button
              %i.icon.arrow.circle.up
              Report website error
          %p
            Otherwise, best is to hit the good old back button or start back at the
            %a(href="#top") top of the site
            \.

          %p
            You can also fix the problem yourself by sending a pull request to this GitHub project:
            %a(href="https://github.com/hibernate/hibernate.org") github.com/hibernate/hibernate.org
            \.

        .invalid-dtd(style="display:none;")
          .ui.floating.info.icon.message
            %i.icon.hand.paper
            .content
              .header
                (Hand waving): This is not the page you are looking for!
              %p
                This DTD does not exist.
              %p
                For a list of available DTDs, see
                %a(href="/dtd/") here.

:javascript
  console.log(window.location.pathname)
  if (/^\/dtd\/.*$/.test(window.location.pathname)) {
    document.querySelector('.dead-link').style.display = 'none';
    document.querySelector('.invalid-dtd').style.display = 'block';
  }