---
layout: base
title: 404
inhibit_indexifier: true
---

%script(src="/javascripts/report-a-problem.js" crossorigin="anonymous" type="text/javascript")


.jumbotron.small
  .ui.container
    %h1
      %span Hibernate. Everything data.
    %h2
      %span 404

.ui.container.page-content
  .content#content
    .ui.two.column.centered.grid
      .column
        %h2 Oh snap!
       
        .ui.floating.info.icon.message
          %i.icon.hand.paper
          .content
            .header
              (Hand waving): This is not the page you are looking for!
            %p
              Looks like you have found a broken link!

        %p
          Please report it mentioning which page you came from and which link you clicked on:
        %p.text-center
          %button.ui.right.label.button.primary#feedback-button
            %i.icon.arrow.circle.up
            Report website error
        %p
          Otherwise, best is to hit the good old back button or start back at the
          %a(href="#top") top of the site
          \.

        %p
          You can also fix the problem yourself by sending a pull request to this GitHub project:
          %a(href="https://github.com/hibernate/hibernate.org") github.com/hibernate/hibernate.org
          \.

