---
layout: base
title: Hibernate. Everything data.
---

.ui.container-fluid
  .jumbotron
    .ui.container
      .ui.grid
        .column.row{:style => "z-index: 1;"}
          .left.floated.column.eight.wide
            %h1
              %span Hibernate.
            %h2
              %span Everything data.
          .right.floated.column.five.wide
            #carousel
  .ui.container-fluid
    .page-title.home
      .ui.container
        %h1 More than an ORM, discover the Hibernate galaxy.
  .ui.container
    .projects
      .ui.three.column.doubling.grid
        .column
          .ui.raised.segment
            %span.ui.brown.right.ribbon.label
              %i.icon.database
              Data
            %h3.ui.header Hibernate ORM
            %p Domain model persistence for relational databases.
            .ui.right.aligned.basic.segment
              %a.ui.button.right.labeled.icon.a.primary{:href => relative("/orm/")}
                %i.right.arrow.icon
                More
        .column
          .ui.raised.segment
            %span.ui.brown.right.ribbon.label
              %i.icon.search
              Search
            %h3.ui.header Hibernate Search
            %p Full-text search for your domain model.
            .ui.right.aligned.basic.segment
              %a.button.ui.right.labeled.icon.a.primary{:href => relative("/search/")}
                %i.right.arrow.icon
                More
        .column
          .ui.raised.segment
            %span.ui.brown.right.ribbon.label
              %i.icon.check
              Bean Validation
            %h3.ui.header Hibernate Validator
            %p Annotation based constraints for your domain model.
            .ui.right.aligned.basic.segment
              %a.ui.button.right.labeled.icon.a.primary{:href => relative("/validator/")}
                %i.right.arrow.icon
                More
        .column
          .ui.raised.segment
            %span.ui.brown.right.ribbon.label
              %i.icon.database
              Data
            %h3.ui.header Hibernate OGM
            %p Domain model persistence for NoSQL datastores.
            .ui.right.aligned.basic.segment
              %a.ui.button.right.labeled.icon.a.primary{:href => relative("/ogm/")}
                %i.right.arrow.icon
                More
        .column
          .ui.raised.segment
            %span.ui.brown.right.ribbon.label
              %i.icon.setting
              Tools
            %h3.ui.header Hibernate Tools
            %p Command line tools and IDE plugins for your Hibernate usages.
            .ui.right.aligned.basic.segment
              %a.ui.button.right.labeled.icon.a.primary{:href => relative("/tools/")}
                %i.right.arrow.icon
                More
        .column
          .ui.raised.segment
            %h3.ui.header Others
            %p We like the symmetry, everything else is here.
            .ui.right.aligned.basic.segment
              %a.ui.button.right.labeled.icon.a.primary{:href => relative("/others/")}
                %i.right.arrow.icon
                Even more

:javascript
  $(document).ready(function() {
    $.ajax({
      url: "#{site.news_feed_root_url}/global.json",
      jsonpCallback: "getBlogEntries",
      dataType: "jsonp",

      // Work with the response
      success: function( data ) {
        var carousel = $('#carousel');
        carousel.empty();
        for (var i = 0; i < data.length; i++) {
          var entry = data[i];

          var carouselElement = $('<div class="carousel-element" />');
          var segment = $('<div class="ui raised segment" />');
          carouselElement.append(segment);

          var ribbonText = 'Community';
          var ribbonIcon = 'users';
          if ( entry.tags ) {
            if ( entry.tags.includes('Newsletter') ) {
              ribbonText = 'Newsletter';
              ribbonIcon = 'newspaper';
            }
            else if ( entry.tags.includes('Interview') ) {
              ribbonText = 'Community';
              ribbonIcon = 'users';
            }
            else if ( entry.tags.includes('Hibernate ORM') ) {
              ribbonText = 'ORM';
              ribbonIcon = 'database';
            }
            else if ( entry.tags.includes('Hibernate Search') ) {
              ribbonText = 'Search';
              ribbonIcon = 'search';
            }
            else if ( entry.tags.includes('Hibernate OGM') ) {
              ribbonText = 'OGM';
              ribbonIcon = 'database';
            }
            else if ( entry.tags.includes('Hibernate Validator') ) {
              ribbonText = 'Validator';
              ribbonIcon = 'check';
            }
            else if ( entry.tags.includes('Hibernate Tools') ) {
              ribbonText = 'Tooling';
              ribbonIcon = 'wrench';
            }
          }

          var ribbon = $('<span class="ui brown right ribbon label" />');
          var icon = $('<i class="icon ' + ribbonIcon + '" />');

          segment.append(ribbon);
          ribbon.append(icon);
          ribbon.append(ribbonText);
 
          var entryItem = $('<h4/>');
          entryItem.append(
            $('<a href="' + entry.url + '"/>').text(entry.title)
          );
          segment.append(entryItem);

          carousel.append(carouselElement);
        }

        $('#carousel').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 4000,
          focusOnSelect: true
        });
      }
    });
  });

