---
layout: project
title: Hibernate. Everything data.
---

%p.lead.text-center.mantra
  Hibernate. Everything data.

-# News ribbon
.well.well-small
  .row#myCarouselRow
    .span9
      #myCarousel
        %i.icon-refresh.icon-spin.icon-large

    .span2
      .pull-right
        %a(href="http://in.relation.to/")
          More news

-# First row of projects
#equalHeightsB.row-fluid.equalHero
  .span4.well
    %h2 Hibernate ORM
    %p
      %i.icon-table.icon-3x.pull-left
      Domain model persistence for relational databases
    %p.center-icon
      %a.btn.btn-primary{:href => relative("/orm/")}
        More
        %i.icon-circle-arrow-right
  .span4.well
    %h2 Hibernate Search
    %p
      %i.icon-search.icon-3x.pull-left
      Full-text search for your domain model
    %p.center-icon
      %a.btn.btn-primary{:href => relative("/search/")}
        More
        %i.icon-circle-arrow-right
  .span4.well
    %h2 Hibernate Validator
    %p
      %i.icon-check.icon-3x.pull-left
      Annotation based constraints for your domain model
    %p.center-icon
      %a.btn.btn-primary{:href => relative("/validator/")}
        More
        %i.icon-circle-arrow-right

-# Second row of projects
#equalHeightsB.row-fluid.equalHero
  .span4.well
    %h2 Hibernate OGM
    %p
      %i.icon-sitemap.icon-3x.pull-left
      Domain model persistence for NoSQL datastores
    %p.center-icon
      %a.btn.btn-primary{:href => relative("/ogm/")}
        More
        %i.icon-circle-arrow-right
  .span4.well
    %h2 Hibernate Tools
    %p
      -# icon-tasks icon-code icon-cogs icon-wrench
      %i.icon-wrench.icon-3x.pull-left
      Command line tools and IDE plugins for your Hibernate usages
    %p.center-icon
      %a.btn.btn-primary{:href => relative("/tools/")}
        More
        %i.icon-circle-arrow-right
  .span4.well
    %h2 Others
    %p
      -# icon-umbrella
      %i.icon-plus.icon-3x.pull-left
      We like the symmetry, everything else is here
    %p.center-icon
      %a.btn.btn-primary{:href => relative("/others/")}
        Even more
        %i.icon-circle-arrow-right

%script{ :type => 'text/javascript', :src => 'https://www.google.com/jsapi'}
-# Uses Google Feed API to load in.relation.to feed and replace the DOM elements
:javascript
  google.load("feeds", "1");

  function initialize() {
    var feed = new google.feeds.Feed("http://in.relation.to/service/Feed/atom/Area/Bloggers/Comments/exclude");
    feed.setNumEntries(5);
    feed.load(function(result) {
      if (!result.error) {
        var feedDiv = $('#myCarousel');
        feedDiv.empty();
        feedDiv.addClass('carousel slide');
        var ol = $('<ol/>');
        var inner = $('<div class="carousel-inner"/>');
        for (var i = 0; i < result.feed.entries.length; i++) {
          var entry = result.feed.entries[i];
          var li = $('<li data-slide-to="' + i + '", data-target="#myCarousel"/>');
          var entry_item = $('<div/>');
          entry_item.addClass('item');
          entry_item.append(
            $('<a href="' + entry.link + '"/>').text(entry.title)
          );
          if (i == 0) {
            li.addClass('active');
            entry_item.addClass('active');
          }
          ol.append(li);
          inner.append(entry_item);
        }
        feedDiv.append(ol).append(inner);
      }
    });
  }
  google.setOnLoadCallback(initialize);
