---
layout: project
title: Hibernate. Everything data.
inhibit_indexifier: true
---

:javascript
  jQuery.ajax({
    url: "https://hibernate.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e/en_US-ny35gm-1988229788/6206/19/1.4.1/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector-embededjs.js?collectorId=7d71341e",
    type: "get",
    cache: true,
    dataType: "script"
  });
  window.ATL_JQ_PAGE_PROPS = {
    "triggerFunction": function(showCollectorDialog) {
      jQuery("#feedback-button").click(function(e) {
        e.preventDefault();
        showCollectorDialog();
      });
    },
    fieldValues: {
        components : '10380'
    }
  };

.row-fluid
  .span12
    :markdown
      # Looking for NHibernate?

      NHibernate is a port of [Hibernate ORM](/orm) to the .NET Framework. It is independent of Hibernate project family hosted here.

      We used to host some NHibernate documentation, but that was a long time
      ago. If you are looking for NHibernate downloads, documentation, forums, etc,
      visit the [NHibernate community site](http://nhibernate.info).

