---
layout: project-frame
title: Hibernate Search
project: search
title_partial: project/title-about.html.haml
---

-# Center body
.row-fluid
  .span8
    .row-fluid
      .span12.feature-block
        :asciidoc
          === Full-text search for entities

          Offers full-text search support for objects stored by Hibernate ORM, Infinispan and other sources.
          Think of it as Google(tm) for your entities:

          * search words with text
          * order results by relevance
          * find by approximation (fuzzy search)
    .row-fluid
      .span12.feature-block
        :asciidoc
          === Cluster-friendly
          
          Clustering indexes is not trivial. Hibernate Search offers several easy to setup clustering strategies:

          * master / slaves
          * JMS / JGroups replication
          * Infinispan distributed index
    .row-fluid
      .span12.feature-block
        :asciidoc
          === Faceting and geolocation

          Geolocalized entities are as easy as `@Spatial`. Filter results around a certain location like the user position. Hibernate Search offers two algorithms: a light one or a more scalable one.
          
          Faceting categorizes results by properties like price range or brand.
    .row-fluid
      .span12.feature-block
        :asciidoc
          === Easy to use

          Designed to be easy to use from the ground up. Handles indexing, datastore synchronization, clustering and infrastructure transparently while you focus on the business side of your queries.

  -# News right column
  .span4
    = partial( 'common/latest-news.html.haml', {"real_page" => page} )
