.page-title.small
  .ui.container
    %h4
      Integrates Hibernate ORM with Apache Lucene or Elasticsearch
      by automatically indexing entities,
      enabling advanced search functionality: full-text, geospatial, aggregations and more.
