.page-title
  .ui.container
    %h4
      Hibernate Search transparently indexes your objects
      and offers fast full-text, geolocation and data mining search capabilities.
      Easy to use, integrates with Apache Lucene, Elasticsearch and Hibernate ORM.
