---
layout: project-standard
title: Books
project: orm
---

.books
  .ui.divided.items
    .item
      .image
        %a(href="https://www.manning.com/books/java-persistence-with-hibernate-second-edition")
          %img(src="https://images.manning.com/255/340/resize/book/d/46a71dd-949a-47e9-bb0e-1ca929f09be0/Bauer-JPH-HI.png")
      .content
        %a.header(href="https://www.manning.com/books/java-persistence-with-hibernate-second-edition")
          Java Persistence with Hibernate, Second Edition
        .description
          %p Java Persistence with Hibernate, Second Edition explores Hibernate by developing an application that ties together hundreds of individual examples.
          %p In this revised edition, authors Christian Bauer, Gavin King, and Gary Gregory cover Hibernate 5 in detail with the Java Persistence 2.1 standard (JSR 338).
          %p All examples have been updated for the latest Hibernate and Java EE specification versions.

    .item
      .image
        %a(href="https://leanpub.com/high-performance-java-persistence?utm_source=hibernate&utm_medium=banner&utm_campaign=books")
          %img(src="https://s3.amazonaws.com/titlepages.leanpub.com/high-performance-java-persistence/large?1475337267")
      .content
        %a.header(href="https://leanpub.com/high-performance-java-persistence?utm_source=hibernate&utm_medium=banner&utm_campaign=books")
          High-Performance Java Persistence
        .description
          %p A high-performance data access layer must resonate with the underlying database system.
          %p Knowing the inner workings of a relational database and the data access frameworks in use can make the difference between a high-performance enterprise application and one that barely crawls.
          %p This book is a journey into Java data access performance tuning. From connection management, to batch updates, fetch sizes and concurrency control mechanisms, it unravels the inner workings of the most common Java data access frameworks.

    .item
      .image
        %a(href="http://shop.oreilly.com/product/9780596517724.do")
          %img(src="http://akamaicovers.oreilly.com/images/9780596517724/cat.gif")
      .content
        %a.header(href="http://shop.oreilly.com/product/9780596517724.do")
          Harnessing Hibernate
        .description
          %p Harnessing Hibernate is an ideal introduction to the popular framework that lets Java developers work with information from a relational database easily and efficiently.
          %p Databases are a very different world than Java objects, and they often involve people with different skills and specializations. With Hibernate, bridging these two worlds is significantly easier, and with this book, you can get up to speed with Hibernate quickly.
          %p Rather than present you with another reference, Harnessing Hibernate lets you explore the system, from download and configuration through a series of projects that demonstrate how to accomplish a variety of practical goals.

    .item
      .image
        %a(href="http://www.hibernate-tips.com/?utm_source=Hibernate&utm_medium=books")
          %img(src="https://images-na.ssl-images-amazon.com/images/I/41YiFBRqwCL.jpg")
      .content
        %a.header(href="http://www.hibernate-tips.com/?utm_source=Hibernate&utm_medium=books")
          Hibernate Tips
        .description
          %p
            When you use Hibernate in your projects, you quickly recognize that you need to do more than just add @Entity annotations to your domain model classes. Real-world applications often require advanced mappings, complex queries, custom data types and caching. 
            Hibernate can do all of that. You just have to know which annotations and APIs you need to use.
          %p
            %b Hibernate Tips
            - 
            %i More than 70 solutions to common Hibernate problems
            shows you how to efficiently implement your persistence layer with Hibernate's basic and advanced features. Each Hibernate Tip consists of one or more code samples and an easy to follow step-by-step explanation. You can also download an example project with executable test cases for each Hibernate Tip.

