---
layout: community-frame
---
-# layout for pages related to the community
-# display news on the right side

.row-fluid
  .span8
    ~ content
  -# News right column
  .span4
    = partial( 'common/latest-news.html.haml', {"real_page" => page} )
