---
layout: community-standard
---
- project_description = site.projects[page.project]

- if project_description.deprecation_notice
  .ui.warning.message.icon
    %i.icon.inbox.exclamation.triangle
    = project_description.deprecation_notice

.ui.icon.message
  %i.icon.users
  .content
    Here is a list of the most active contributors to the #{project_description.name} project. Want the full list? Go to our
    %a(href='https://github.com/hibernate/#{project_description.github.project}/graphs/contributors') GitHub page
    \.

%p &nbsp;

.text-center#contributor-loader
  %i.notched.circle.loading.icon.massive

#contributor-list(style="display:none")

:javascript
  $(document).ready(function() {
  });


:javascript
  $(document).ready(function() {
    var contributorsNameMapping;
    $.getJSON( "/community/contributors/contributors-name-mapping.json", function( data ) {
      contributorsNameMapping = data;
    });
    $.getJSON( "https://api.github.com/repos/hibernate/#{project_description.github.project}/contributors", function( data ) {
      var items = [];
      data.forEach( function( contributor ) {
        var contributorName = contributorsNameMapping ? (contributorsNameMapping[contributor.login] ? contributorsNameMapping[contributor.login] : contributor.login) : contributor.login;

        items.push(
            $( '<div class="ui card contributor"/>' )
              .append( $( '<div class="image"/>' ).append( $('<img src="' + contributor.avatar_url + '" />' ) ) )
              .append( $( '<div class="content" />' ).append( $( '<div class="header" />' ).append( $( '<a href="' + contributor.html_url + '" />' ).text( contributorName ) ) ) )
              .append( $( '<div class="extra content" />' ).append( $( '<span class="right floated" />' ).text( contributor.contributions + ' commit' + ( contributor.contributions > 1 ? 's' : '' ) ) ) )
        );
      });

      $( '#contributor-list' ).append( items );
      $( '#contributor-loader' ).hide();
      $( '#contributor-list' ).fadeIn();
    });
  });
