---
layout: project
---
-# layout for pages related to the community
-# display news on the right side
-# handles title display

-# Title
= partial( page.title_partial.nil? ? 'project/title.html.haml' : page.title_partial, {"real_page" => page} )

-# Project specific navigation menu
.row-fluid
  .span9
    ~ content
  -# News right column
  .span3
    = partial( 'common/latest-news.html.haml', {"real_page" => page} )
