---
layout: project-about
title: The reactive API for Hibernate ORM.
project: reactive
---

- project = site.projects[page.project] 
-# Latest series available unless a stable release exists
- series = project.latest_stable_series.nil? ? project.latest_series : project.latest_stable_series
- getting_started_guide = getting_started_guide(project, series)

-# Center body
.feature-block
  :asciidoc
    :getting_started_guide_link: #{getting_started_guide.html_url}
    :introduction: http://hibernate.org/reactive/documentation/1.0/reference/html_single/
    :build: http://hibernate.org/reactive/documentation/1.0/reference/html_single/#_including_hibernate_reactive_in_your_project_build
    :config: http://hibernate.org/reactive/documentation/1.0/reference/html_single/#_basic_configuration
    :model: http://hibernate.org/reactive/documentation/1.0/reference/html_single/#_mapping_entity_classes
    :session: http://hibernate.org/reactive/documentation/1.0/reference/html_single/#_using_the_reactive_session
    :performance: http://hibernate.org/reactive/documentation/1.0/reference/html_single/#_tuning_and_performance

    == Reactive Object/Relational Mapping

    Hibernate Reactive is a reactive API for Hibernate ORM, supporting non-blocking database drivers and a reactive style
    of interaction with the database.

    Hibernate Reactive is intended for use in a reactive programming environment like link:https://vertx.io[Vert.x] or
    link:https://quarkus.io[Quarkus], where interaction with the database should occur in a non-blocking fashion.
    Persistence operations are orchestrated via the construction of a reactive stream rather than via direct invocation
    of synchronous functions in procedural Java code.

    JDBC, JPA and Hibernate ORM use blocking IO for interaction with the database, and are therefore not appropriate for
    use in a reactive environment. Hibernate Reactive is a feature rich ORM implementation designed to take advantage of
    non-blocking database clients.

    == Compatibility

    Hibernate Reactive requires:

    - Java 8,
    - Hibernate ORM 5.4, and
    - the Vert.x 3.9 reactive database client for your database.

    It works with PostgreSQL, MySQL, MariaDB, Db2, and CockroachDB.

    == Getting Started

    The link:{introduction}[Introduction to Hibernate Reactive] covers everything you need to know to get started,
    including:

    - link:{build}[setting up a project] that uses Hibernate Reactive and the Vert.x reactive SQL client for your
      database,
    - link:{config}[configuring] Hibernate Reactive to access your database,
    - writing Java code to link:{model}[define the entities] of your data model,
    - writing reactive data access code link:{session}[using a reactive session], and
    - link:{performance}[tuning the performance] of your program.