---
layout: project-about
title: The reactive API for Hibernate ORM.
project: reactive
project_hero_partial: project/reactive/hero-text.html.haml
---

- project = site.projects[page.project] 
-# Latest series available unless a stable release exists
- series = project.latest_stable_series.nil? ? project.latest_series : project.latest_stable_series
- getting_started_guide = getting_started_guide(project, series)

-# Center body
.feature-block
  :asciidoc
    :getting_started_guide_link: #{getting_started_guide.html_url}
    == Reactive Object/Relational Mapping

    A reactive API for Hibernate ORM, supporting non-blocking database
    drivers and a reactive style of interaction with the database.

    Hibernate Reactive may be used in any plain Java program, but is
    especially targeted toward usage in reactive environments like
    https://quarkus.io[Quarkus] and link:https://vertx.io[Vert.x].

    We know you have questions, we'll answer them in the link:faq/[FAQ].

    == Compatibility

    JDK 1.8

    Currently supports:

    * link:https://www.postgresql.org[PostgreSQL]
    * link:https://www.mysql.org[MySQL]
    * link:https://www.ibm.com/analytics/db2[Db2]

    Want to see it in action? Move on to the link:{getting_started_guide_link}[getting started guide].
