- real_page = page["real_page"]
.banner
  %a(href="#")<
  .visible-desktop
    -#.taglinelight some tagline
    .logo-suffix
      -# Extract the project title from the path
      - path = real_page.output_path
      - if path.start_with?('/search')
        Search
      - elsif path.start_with?('/orm')
        ORM
      - elsif path.start_with?('/validator')
        Validator
      - elsif path.start_with?('/ogm')
        OGM
      - elsif path.start_with?('/tools')
        Tools
