- real_page = page["real_page"]
.container#companyfooter
  .row-fluid
    .span6.redhatlogo.text-center
      #logospacer
      %a(href="http://www.redhat.com/")<
        %img(src="#{site.jborg_images_url}/common/redhat_logo.png")
    .span6.redhatlogo.text-center
      #logospacer
      %a{:href => "http://www.jboss.org/"}
        %img(src="#{site.jborg_images_url}/common/jbossbadge.png")
