- real_page = page["real_page"]
.container#companyfooter
  .redhatlogo{ :style => "text-align:center;" }
    #logospacer
    %a(href="http://www.redhat.com/")
      %img(src="http://static.jboss.org/images/rhbar/redhatlogo.png")
