- real_page = page["real_page"]

.ui.container.banner.computer.only
  %a.logo.hibernate(href='/')
    %img{:src => "/images/hibernate-logo.svg", :alt => 'Hibernate'}
  .clearfix

  = partial( 'menu/desktop-top.html.haml', {"real_page" => real_page} )
