-# Latest news
-# Todo customize the tag to read from by project and return all feed if outside a project
- real_page = page["real_page"]
.news-sidebar.well
  %h2 Latest news
  #feed
    .text-center
      %i.icon-refresh.icon-spin.icon-4x
  %a{:href => "http://in.relation.to/tag/Hibernate+Search"} Other news
%script{ :type => 'text/javascript', :src => 'https://www.google.com/jsapi'}
-# Uses Google Feed API to load in.relation.to feed and replace the DOM elements
:javascript
  google.load("feeds", "1");

  function initialize() {
    var feed = new google.feeds.Feed("http://in.relation.to/service/Feed/atom/Area/Bloggers/Comments/exclude");
    feed.setNumEntries(5);
    feed.load(function(result) {
      if (!result.error) {
        var feedDiv = $('#feed');
        feedDiv.empty();
        for (var i = 0; i < result.feed.entries.length; i++) {
          var entry = result.feed.entries[i];
          var entryDate = new Date(entry.publishedDate);
          var date_string =
            entryDate.getFullYear() + '-'
            + ('0' + (entryDate.getMonth()+1)).slice(-2) + '-'
            + ('0' + entryDate.getDate()).slice(-2);
          feedDiv.append(
            $('<div class="news"/>').append(
              $('<h4/>').text(entry.title)
            ).append(
              $('<small/>').text(date_string)
            ).append(
              $('<p/>').text(entry.contentSnippet).append(
                ' <a href="' + entry.link + '">more</a>'
              )
            ).append(
              '<hr/>'
            )
          );
        }
      }
    });
  }
  google.setOnLoadCallback(initialize);
