-# Latest news
-# Todo read from the RSS feed
-# Todo customize the tag to read from by project and return all feed if outside a project
- real_page = page["real_page"]
.news-sidebar.well
  %h2 Latest news
  .news
    %h4 JBoss Community Recognition Awards: Voting ends tomorrow!
    %small
      25-Jul-2013
    %p
      The voting for the JBoss Community Recognition Awards 2013 ends tomorrow; if you haven't done it yet please vote for our contributors.
      
      Among other amazing contributors, some have done amazing work on Hibernate projects and we think they deserve a special recognition
      %a{:href => "http://in.relation.to/Bloggers/JBossCommunityRecognitionAwardsVotingEndsTomorrow"} more
  .news
    %h4 London: Meet an Open Source Project
    %small
      23-Jul-2013
    %p
      Tomorrow the London Java Community (LJC) meets for the monthly Meet a Project night. I'll be there again, this time to explain how to get started contributing to Hibernate Search and answer all the questions you might have about the mysterious world of open source professionals.

      Contributing to Hibernate
      %a{:href => "http://in.relation.to/Bloggers/LondonMeetAnOpenSourceProject"} more
  .news
    %h4 Hibernate Search 4.3.0.Final was spotted in Boston
    %small
      11-Jun-2013
    %p
      We're in Boston for JUDCon and Red Hat Summit; Emmanuel is on stage coding live a nice new demo using Hibernate Search to combine full-text with geographic filtering. It will be contributed to JDF quickstarts but you can already get the sources.

      He's using Hibernate Sear
      %a{:href => "http://in.relation.to/Bloggers/HibernateSearch430FinalWasSpottedInBoston"} more
  .news
    %a{:href => "http://in.relation.to/tag/Hibernate+Search"} Other news
