---
layout: project-about
title: Obsolete documentation link
project: orm
---

.feature-block
  :asciidoc
    You tried to access:
  :javascript
    document.write(document.referrer + "<br><br>");
  :asciidoc
    Unfortunately, the documentation you are looking for is no longer available
    under this URL. Maybe you used an old bookmark or followed a link from an
    obsolete tutorial?

    If you know the ORM version, try to find what you are looking for
    on the http://docs.jboss.org/hibernate/orm/[reference documentation site].
    Otherwise, check the latest link:/orm/documentation/[documentation].
