//copied from asciidoctor.github.com
$primary-color: #005498;
$body-font-color: #222;
$icon-text-shadow: 1px 1px 2px rgba(0, 0, 0, .5) !default;
$rainbow-lightness: -25% !default;
$rainbow-bg-lightness: -2% !default;
$hr-border-color: #ddd;
$blockquote-font-color: lighten($body-font-color, 30%);


$text-color:rgb(101,101,101);
