
.dropup {
    background-color: transparent;
    background-image: url("https://static.jboss.org/common/images/tabzilla/tabzilla-redhat-logo-sprite.png");
    background-position: right top;
    background-repeat: no-repeat;
    height: 37px;
    margin-bottom: -40px;
    margin-top: -1px;
    position: absolute;
    right: 40px;
    text-align: center;
    width: 250px;
    z-index: 999;
}
#subproject .navbar {
    margin-top: 40px;
}
#subproject #navbar-fixed {
    margin-top: 0;
}
#subproject .navbar-fixed {
    margin-top: 0;
}
#subproject .navbar-inverse {
    margin-top: 0;
}
#tabnav-panel {
    background-color: transparent;
}
#tabnav-panel li {
    list-style: outside none none;
}
#tabnav-panel .middlewarelogo {
    border-right: 1px solid #d5d5d5;
    margin: 0 auto;
    padding: 0 35px 20px 0;
    text-align: center;
}
#tabnav {
    background-color: #fff;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Verdana,Arial,sans-serif;
    font-size: 13.5px;
    height: 100%;
    margin: 0 auto;
    text-align: left;
}
#tabnav .tabcontent {
    background: transparent linear-gradient(to bottom, #e1eef4 0%, #ffffff 60%) no-repeat scroll 0 0;
    clear: both;
    height: 100%;
    padding: 20px 25px;
}
#tabnav .tabcontent .overview {
    font-size: 15px;
    padding-bottom: 30px;
}
#tabnav .span6 {
    padding: 20px 10px 0;
}
#tabnav ul {
    padding: 0;
}
#tabnav ul li {
    color: #656565;
    line-height: 23px;
    list-style: outside none none;
    padding: 0;
}
#tabnav ul li a {
    text-decoration: none;
    text-shadow: 0 1px 1px #e4eaf1;
}
#tabnav ul li a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #e4eaf1;
}
#tabnav-panel.tabnav-opened {
    border-bottom: 1px solid #d5d5d5;
    height: 240px;
}
#tabnav-panel {
    font-family: "Helvetica Neue",Helvetica,Verdana,Arial,sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    height: 0;
    line-height: 1.3;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
}
#tabnav-contents {
    bottom: 0;
    left: 50%;
    right: 0;
    text-align: left;
}
* html #tabnav-contents {
}
:first-child + html #tabnav-contents {
}
#tabnav-contents::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
#tabnav-promo .snippet h4, #tabnav-panel #tabnav-nav, #tabnav-panel #tabnav-nav h2 {
    color: #484848;
    font-family: "Helvetica Neue",Helvetica,Verdana,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
#tabnav-panel #tabnav-nav ul {
    margin: 0;
    padding: 0;
}
#tabnav-panel #tabnav-nav h2 {
    font-size: 13px;
    font-weight: 600;
    margin: 0 20px 0.4em;
    white-space: nowrap;
}
#tabnav-panel #tabnav-nav ul li ul li {
    border-right: 0 none;
    float: none;
    height: auto;
    margin: 0;
}
#tabnav-panel #tabnav-nav a {
    color: #484848;
    display: block;
    outline: 0 none;
    padding: 0.1em 8px 0.2em 20px;
}
#tabnav ul li#tabnav-search {
    border-right: 0 none;
}
#tabnav #tabnav-search ul li {
    background: transparent none repeat scroll 0 0;
    border-right: 1px dotted #d6d6d6;
    display: inline;
    float: left;
    height: 95px;
    line-height: 1.1;
    list-style-type: none;
    margin: 20px 0 0;
    padding: 0;
    width: 16.5%;
}
#tabnav ul li#tabnav-search a {
    padding-top: 0;
}
#tabnav ul li#tabnav-search form {
    margin: 0.4em 10px;
}
#tabnav ul li#tabnav-search input:-moz-placeholder {
    color: #173444;
}
#ajbossproject {
    background-color: rgba(66, 66, 66, 0.75);
    border-radius: 2px;
    color: #e6e7e8;
    height: 20px;
    margin-top: 8px;
    width: 130px;
}
#tab.tabnav-opened::after {
    transform: rotate(180deg);
}
#tab::after {
    background: transparent url("https://static.jboss.org/common/images/arrow-tabnav-down.png") repeat scroll 0 0;
    content: "x";
    height: 15px;
    position: absolute;
    right: 12px;
    top: 9px;
    transform: rotate(0deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 13px;
}
#tab.tabnav-opened, .darkbg #tab.tabnav-opened {
    background-position: 0 -47px;
}
#tab {
    display: block;
    float: right;
    height: 40px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    text-indent: -2000px;
    top: 0;
    width: 100px;
    z-index: 999;
    cursor: pointer;
}
@media (min-width: 1200px) {
#tabnav-panel {
    margin: 0 auto;
    width: 1230px;
}
#tabnav-panel.fullwidth {
    width: 100%;
}
}
@media (min-width: 980px) and (max-width: 1199px) {
#tabnav-panel {
    margin: 0 auto;
    width: 1000px;
}
#tabnav-panel.fullwidth {
    width: 100%;
}
}
@media (min-width: 768px) and (max-width: 979px) {
#tabnav-panel {
    margin: 0 auto;
    width: 784px;
}
#tabnav-panel.fullwidth {
    width: 100%;
}
}
@media (max-width: 767px) {
#tabnav-panel {
    margin: 0 auto;
    max-width: 767px;
}
#tabnav-panel.fullwidth {
    width: 100%;
}
#tabnav-panel .middlewarelogo {
    border-bottom: 1px solid #d5d5d5;
    border-right: 0 none;
    margin-bottom: 15px;
}
#tabnav-panel.tabnav-opened {
    height: 370px;
}
.dropup {
    background-image: url("https://static.jboss.org/common/images/tabzilla/tabzilla-redhat-logo-sprite.png");
    background-position: left bottom;
    height: 37px;
    right: 30px;
    width: 74px;
}
#ajbossproject {
    display: none;
}
}
#project #tabnav-panel.tabnav-opened {
    border-bottom: 0 none;
}
a:hover, a:active, a, object, embed, *:focus {
    outline: medium none;
}
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
#tab {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#tabnav ul li {
    width: 100%;
}
#tabnav {
    font-weight: normal;
}
#tabnav ul li a {
    color: #336699;
    text-decoration: none;
}
#tabnav ul li a:hover {
    color: #a5aa4d;
    text-decoration: none;
}
.row-fluid .span4 {
    width: 31.6239%;
}
.row-fluid [class*="span"] {
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.5641%;
    min-height: 30px;
}
.row-fluid::before, .row-fluid::after {
    content: "";
    display: table;
    line-height: 0;
}
.row-fluid::after {
    clear: both;
}
.row-fluid {
    width: 100%;
}
@media (max-width: 767px) {
[class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
    box-sizing: border-box;
    display: block;
    float: none;
    margin-left: 0;
    width: 100%;
}
}

