// We will import compiled JBoss Community's styles and apply ours on top
// We can't compile them ourselves because they use Less which depends on TheRubyRacer
//   which depends on V8 which is hard to install on Windows and would slow contribution
//
// If that fails we will have to start from a vanilla bootstrap

// Common utilities
@import "settings";

// Bug fix for community bootstrap

.equalHero .btn {
  // not all corners were properly rounded
  border-radius: 4px 4px 4px 4px!important;
}

// End of bug fix

// the default bootstrap community font is a bit too small
body {
  font-size: 100%;
}

h1 {
//  margin-top: 1em;
  margin-bottom: 1em;
}

h2, h3 {
  margin-top: 1em;
}

.center-icon {
  text-align: center;
}

code, pre {
  font-size: 85%;
  color: rgb(101, 101, 101);
}

pre > code {
  font-size:100%
}

// Headers and top nav
.navbar {
  z-index: 998;
  margin-bottom: 25px;
  margin-top: 40px;
}

#subproject .dropup {
  width: 112px;
  float: right;
}

// Hibernate Logo
#logobar > a {
  padding-left: 24px;
  display: block;
  float: left;
}

#logobar > a > img {
  width: 160px;
}

.navbar .nav > li {
  font-weight: bold;
}
// Avoid the second line in the header when
// the monitor size is smaller
.navbar .nav > li > a {
      padding: 13px 10px;
}

//home page

//mantra
.mantra {
  font-weight: bold;
  font-size: 150%;
}

//headlines

#myCarouselRow {
  padding-top: 9px;
}

#myCarousel {
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
  min-height: 23px;
  overflow: hidden;
  line-height: 1.3em;
  ol {
    display: none;
  }
}

// Project menu
.project-menu {
  overflow: hidden;
}
.project-menu-title {
  font-size: 200%;
  margin-bottom:.5em;
}

.hero-button {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.hero-unit {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .menu-icon {
    display: none !important;
  }
}

// align project menu color with regular text color
.nav-list > li > a, .nav-list .nav-header {
  color: $text-color;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
  background-color: $text-color;
}

// Project home page
.feature-block {
  h2, h3 {
    margin-top: .5em;
  }
}

//News sidebar
.news-sidebar {
  h2 {
    margin-top: 0em;
  }
}

// Project download page
@media (min-width: 768px) {
  .release-bottons {
    margin-bottom:2em;
  }
}

@media (max-width: 767px) {
  .release-buttons {
    margin-bottom:1em;
    margin-top:1em;
  }
}

@media (max-width: 470px) {
  .hero-unit {
    h1 {
      font-size: 2em;
    }
  }
}

@media (max-width: 447px) {
  #logobar > a {
    padding-left: 0px;
    float: none;
  }
  .dropup {
    float: none; 
  }
  .navbar {
    margin-top: 0px
  }
}

@media (max-width: 365px) {
  .hero-unit {
    padding: 25px 30px;
    h1 {
      font-size: 1.5em;
    }
  }
}

@media (max-width: 270px) {
  .hero-unit {
    padding: 25px 30px;
    h1 {
      font-size: 1em;
    }
  }
}

//footer

footer.container {
  $ratio: 90%;
  padding-top: .3em;
  padding-bottom: .3em;
  font-size: $ratio;
  line-height: 80%;
  h4 {
    font-size: 110%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  ul {
    margin-left: 0;
  }
  li {
    line-height: 120%;
  }
}

// // Asciidoc

// Table of content

#toc {
  background-color: #efefef;
  padding: 1em;
  & > ol {
    margin: .5em 0 .5em .5em;
  }
  ol {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
}

@media (min-width: 980px) {
  #toc {
    width: 30%;
    position: static;
    top: 0px; 
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

@media (max-width: 979px) {
  #toc {
    margin: 1em;
  }
}


#toctitle {
  padding-left: 3%;
  margin-bottom: 1em;
  font-size:120%;
}

.sectlevel1 {
  $sectlevel1-percent: 85%;
  font-size: $sectlevel1-percent;
  li {
    margin-left: 0;
    margin-right: 10%;
    margin-top: .5em;
    margin-bottom: .5em;
  }
  code {
    font-size: 100%;
  }
}

.sectlevel2 {
  $sectlevel2-percent: 90%;
  font-size: $sectlevel2-percent;
}

.sectlevel3 {
  $sectlevel3-percent: 90%;
  font-size: $sectlevel3-percent;
}


// Preamble

#preamble {
  font-size: 130%;
}

// admonitions (TIP, NOTES etc)
// copied from asciidoctor.github.com

.admonitionblock > table {
  border: 0;
  margin-bottom: 1.25em;
  //width: 100%;
  background: none;
  td.icon {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
    img {
      max-width: none;
    }
  }

  td.content {
    padding-left: 2em;
    //padding-right: emCalc(20px);
    border-left: 1px solid $hr-border-color; 
    color: $blockquote-font-color;

    & > div:last-child {
      p, ol, ul, dl, dl dd:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// listing blocks

.listingblock > .title {
  //margin-left: 5em;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1em;
  padding-top: .5em;
  margin-bottom: -.5em;
  border-width: 1px 0 0 0;
  border-color: $hr-border-color;
  text-align: center;
  border-style: solid;
}

@import "awesome-icons";

// The 404 page
.feedback-button {
  margin-top: 1em;
  margin-bottom: 1em;
}


// Asciidoctor blockquote
$blockquote-text-color: rgb(101, 101, 101);
.quoteblock {
    .paragraph {
        p {
            margin-bottom: 20px;
        }
    }
    margin-top: 20px;
    margin-bottom: 20px;
    color: $blockquote-text-color;
    blockquote {
        position: relative;
        margin-left: 20px;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
    }
    blockquote:before {
        color: #ccc;
        font-size: 6em;
        margin-top: 30px;
        display: block;
        content: "\201C";
    }
    .attribution {
        text-align: right;
        color: $blockquote-text-color;
    }
}

// table-responsive from Bootstrap 3
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}