// We will import compiled JBoss Community's styles and apply ours on top
// We can't compile them ourselves because they use Less which depends on TheRubyRacer
//   which depends on V8 which is hard to install on Windows and would slow contribution
//
// If that fails we will have to start from a vanilla bootstrap

// Common utilities
@import "settings";

// the default bootstrap community font is a bit too small
body {
  font-size: 100%;
}

h1 {
//  margin-top: 1em;
  margin-bottom: 1em;
}

.center-icon {
  text-align: center;
}

// Headers and top nav
#cross-nav {
  background-color: transparent;
  a {
    color: #ffffff;
    text-shadow: none;
  }
}

// let us write the project name after the logo
.logo-suffix {
  font-size: 45px;
  position: absolute;
  left: 350px;
  bottom: 55px;
  z-index: 100;
  color: #ffffff;
}

// Project menu
@media (min-width: 768px) and (max-width: 1199px) {
  .menu-icon {
    display: none !important;
  }
}

// align project menu color with regular text color
.nav-list > li > a, .nav-list .nav-header {
  color: $text-color;
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
  background-color: $text-color;
}

// Project about page
.project-title-desktop {
  margin-top: 20px;
  margin-bottom: 100px;
}

.project-title-phone {
  margin-bottom: 30px;
}

// Project download page
@media (min-width: 768px) {
  .release-bottons {
    margin-bottom:2em;
  }
}

@media (max-width: 767px) {
  .release-buttons {
    margin-bottom:1em;
    margin-top:1em;
  }
}

// // Asciidoc

// Table of content

#toc {
  width: 30%;
  position: static;
  top: 0px; 
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  background-color: #efefef;
  padding: 1em;
  & > ol {
    margin: .5em 0 .5em .5em;
  }
  ol {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
}

#toctitle {
  padding-left: 0.5em;
  font-size:120%;
}

.sectlevel1 {
  $sectlevel1-percent: 110%;
  font-size: $sectlevel1-percent;
  li {
    margin-left: 0;
    margin-right: 10%;
    margin-top: .5em;
    margin-bottom: .5em;
  }
  code {
    font-size: 100%;
  }
}

.sectlevel2 {
  $sectlevel2-percent: 85%;
  font-size: $sectlevel2-percent;
}

.sectlevel3 {
  $sectlevel2-percent: 85%;
  font-size: $sectlevel2-percent;
}


// Preamble

#preamble {
  font-size: 130%;
}

// admonitions (TIP, NOTES etc)
// copied from asciidoctor.github.com

.admonitionblock > table {
  border: 0;
  margin-bottom: 1.25em;
  //width: 100%;
  background: none;
  td.icon {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
    img {
      max-width: none;
    }
  }

  td.content {
    padding-left: 2em;
    //padding-right: emCalc(20px);
    border-left: 1px solid $hr-border-color; 
    color: $blockquote-font-color;

    & > div:last-child {
      p, ol, ul, dl, dl dd:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@import "awesome-icons";
