// We will import compiled JBoss Community's styles and apply ours on top
// We can't compile them ourselves because they use Less which depends on TheRubyRacer
//   which depends on V8 which is hard to install on Windows and would slow contribution
//
// If that fails we will have to start from a vanilla bootstrap

// Common utilities

.center-icon {
  text-align: center;
}

// Headers and top nav
#cross-nav {
  background-color: transparent;
  a {
    color: #ffffff;
    text-shadow: none;
  }
}

// let us write the project name after the logo
.logo-suffix {
  font-size: 45px;
  position: absolute;
  left: 350px;
  bottom: 55px;
  z-index: 100;
  color: #ffffff;
}

// Project menu
@media (min-width: 768px) and (max-width: 1199px) {
  .menu-icon {
    display: none !important;
  }
}

// Project about page
.project-title-desktop {
  margin-top: 20px;
  margin-bottom: 100px;
}

.project-title-phone {
  margin-bottom: 30px;
}

// Project download page
@media (min-width: 768px) {
  .release-bottons {
    margin-bottom:2em;
  }
}

@media (max-width: 767px) {
  .release-buttons {
    margin-bottom:1em;
    margin-top:1em;
  }
}

