- real_page = page["real_page"]
- project_description = site.projects[real_page.project]
- stable_series = latest_stable_series(real_page)
- series = latest_series(real_page)
- dev_series = series != stable_series ? series : nil
- get_started_url = stable_series.nil? ? nil : getting_started_guide(project_description, stable_series)&.html_url

- if not get_started_url.nil?
  .jumbotron-button
    %a.ui.small.right.labeled.icon.button{:href => "#{get_started_url}"}
      %i.right.arrow.icon
      Getting started
- unless stable_series.nil?
  .jumbotron-button
    - reference_doc = reference_doc(project_description, series)
    %a.ui.small.right.labeled.icon.button.green{:href => "#{reference_doc.html_url}"}
      %i.right.arrow.icon
      Get documentation for #{stable_series.version}

