- real_page = page['real_page']
- project_description = site.projects[real_page.project]
- series = project_description.release_series[real_page.series_version]
.page-title.small
  .ui.container
    %h4
      = series.summary
      
