- real_page = page["real_page"]
- stable_series = latest_stable_series(real_page)
- series = latest_series(real_page)
- dev_series = series != stable_series ? series : nil

- if not (stable_series.nil? && dev_series.nil?)
  - unless stable_series.nil?
    .jumbotron-button
      %a.ui.right.labeled.icon.button.green{:href => "./releases/#{series.version}/"}
        %i.right.arrow.icon
        Latest stable (#{stable_series.version})
  - unless (dev_series.nil? || !dev_series.displayed)
    .jumbotron-button
      %a.ui.right.labeled.icon.button.orange{:href => "./releases/#{dev_series.version}/"}
        %i.right.arrow.icon
        Development (#{dev_series.version})

