- series = page["series"]
- classes = page["classes"]

- if series.endoflife
  %span.ui.label.red{:class => "#{classes}"}
    end-of-life
- elsif series.stable
  %span.ui.label.green{:class => "#{classes}"}
    stable
- else
  %span.ui.label.orange{:class => "#{classes}"}
    development
