-# Hero unit 
- real_page = page["real_page"]
.visible-desktop.clearfix
  .alert.alert-info.text-center.pull-right{:style => "max-width: 30%;"}
    %i.icon-user-md.icon-large
    :asciidoc
      :doctype: inline
      :project: #{real_page.project}

      Interested in commercial support? Check out link:/{project}/support/[Red Hat's offering].
  %h1= real_page.title
.hidden-desktop
  %h1.text-center= real_page.title
  .alert.alert-info.text-center
    %i.icon-user-md.icon-large
    :asciidoc
      :doctype: inline
      :project: #{real_page.project}

      Interested in commercial support? Check out link:/{project}/support/[Red Hat's offering].