-# Title and download / get started button
- real_page = page["real_page"]
.row-fluid
  .hidden-phone.project-title-desktop
    .pull-left
      %h1= real_page.title
    .pull-right
      .visible-desktop
        .pull-right
          %a.btn.btn-large{:href => '#'} Get started
          - release = latest_stable_release(real_page)
          - if not release.nil?
            &nbsp;
            %a.btn.btn-success.btn-large{:href => '#'}= "Download (#{release.version})"
      .hidden-desktop
        .pull-right
          %a.btn.btn-large{:href => '#'} Get started
  .visible-phone
    .project-title-phone.text-center
      %div
        %h1= real_page.title
      %div
        %a.btn{:href => '#'} Get started
