-# Title
- real_page = page["real_page"]
.row-fluid
  .visible-desktop.project-title-desktop
    .pull-left
      %h1= real_page.title
  .hidden-desktop
    .project-title-phone.text-center
      %div
        %h1= real_page.title
