---
layout: project-standard
---

.ui.icon.message
  %i.icon.hourglass.half
  .content
    .header
      Interested in our past releases?
    %p
      To learn more about what we introduced in our past releases, please consult the
      %a(href="/#{page.project}/releases/") "What's new" section of a given series
      \.

~ content
