---
layout: base
---
-# layout for pages related to a specific project
-# handles left menu and title display
-# display license
- project_description = site.projects[page.project]

%script
  var displayed_series = [];
  - unless project_description.release_series.nil?
    - project_description.release_series.values.each do |series|
      - unless series.displayed then next end
      displayed_series.push('#{series.version}');

= partial( page.project_banner_partial.nil? ? 'project/banner.html.haml' : page.project_banner_partial, { "real_page" => page } )
= partial( page.project_hero_partial.nil? ? 'project/empty-hero-text.html.haml' : page.project_hero_partial, { "real_page" => page } )

-# Project specific navigation menu
.ui.container.page-content
  .ui.stackable.grid
    .column.three.wide.computer.only.print.hidden
      = partial( 'menu/desktop-left-project.html.haml', {'real_page' => page, 'project_description' => project_description} )
    .column.thirteen.wide.computer.sixteen.wide.mobile
      ~ content

:javascript
  $(document).ready(function() {
    $('.ui.menu .ui.dropdown').dropdown({ on: 'hover' });
  });
