---
layout: project-frame
project_buttons_partial: project/about-buttons.html.haml
---

.ui.stackable.grid
  .column.eleven.wide
    .content#content
      ~ content
  .column.five.wide
    = partial( 'common/latest-news.html.haml', {"real_page" => page} )

