---
layout: base
---
.ui.container-fluid
  .jumbotron.small
    .ui.container
      %h1
        %span
          = page.title

.ui.container.page-content
  .ui.stackable.grid
    .column.eleven.wide  
      .content#content
        ~ content
    .column.five.wide
      = partial( 'common/latest-news.html.haml', {"real_page" => page} )

